name: Build

on: [push, pull_request]

jobs:
  build_addon:
    name: Build Blender ZIP add-on
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Build add-on
        run: etc/scripts/create_blender_dist.sh
      - uses: actions/upload-artifact@v4
        with:
          name: skybrush-studio-blender
          path: ./dist/*.zip
